<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">My Projects</h4>
        <p class="text-muted">Welcome to the portfolio page. Below you will find samples of the different projects
          that I've worked on.  Click on the portfolio title beneath the images to see more about the project. If
          you like what you see, please <%= link_to 'contact me', contact_path %> to discuss a possible
          implementation into your organization.
        </p>
        <p class="text-muted">
          If you would like to implement something new into your organization,  my team and I are more than willing to
          meet with you to do some business together.
        </p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Features</h4>
        <ul class="list-unstyled">
          <%= nav_helper '', 'li' %>
          <li><%= login_helper "text-white btn btn-sm btn-outline-info" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Christopher Aguilar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="container">
  <%= link_to "Create Portfolio Item", new_portfolio_path, class: "btn btn-success mt-4" if logged_in?(:site_admin) %>
</div>


<!--<li><%#= link_to "Home", root_path %></li>-->
<!--<li><%#= link_to "About Me", about_me_path %></li>-->
<!--<li><%#= link_to "Contact", contact_path %></li>-->
<!--<li><%#= link_to "Blogs", blogs_path %>`</li>-->
<!--<li><%#= link_to "Portfolios", portfolios_path %></li>-->