<div class="collapse" id="jobHistory">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/DigiLogo.jpg', width: '100', class: 'jobs-img' %>
      </div>
      <div class="col-md-9">
        <strong><u>IT INFRASTRUCTURE SPECIALIST (2016 - PRESENT)</u></strong> <br>
        A current member of the IT Infrastructure team at Belize Telemedia Limited that manages the network, its dependencies along with servers and services given out by those servers.
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/BHSLogo.jpg', width: '100', class: 'jobs-img' %>
      </div>
      <div class="col-md-9">
        <strong><u>IT TEACHER / ADMINISTRATOR (2014 - 2016)</u></strong> <br>
        Taught IT at Belize High School, Freshman to Junior, and was also an IT Administrator. I introduced the school to it's first official school management program that I co-developed along with it's first electronic student council voting program that I also co-developed.
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/SJC.jpg', width: '100' %>
      </div>
      <div class="col-md-9">
        <strong><u>INFORMATION TECHNOLOGY TEACHER (2008 - 2014)</u></strong>
        Taught Information Technology at St. John' College High School, Freshman to Junior.  I also taught Mathematics at the Sophomore level for 2 years.  Assisted with the upkeep and maintenance of the computer labs.
      </div>
    </div>
  </div>
</div>