<div class="collapse" id="education">
  <div class="card card-block about-info">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/SJC.jpg', width: '100' %>
      </div>
      <div class="col-md-9 sjc">
        <strong><u>ST. JOHN'S COLLEGE JUNIOR COLLEGE (2001 - 2003)</u></strong> <br>
        Majors:
        <ul>
          <li>General Studies</li>
          <li>Software Development</li>
          <li>Cisco CCNA Networking</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="card card-block about-info">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/EPYorke.jpg', width: '100' %>
      </div>
      <div class="col-md-9">
        <strong><u>EP YORKE HIGH SCHOOL (1997 - 2001)</u></strong> <br>
        Studied:
        <ul>
          <li>Academic Science</li>
          <li>Information Technology</li>
          <li>Principles of Accounting</li>
        </ul>
      </div>
    </div>
  </div>
</div>
