<h1>Welcome</h1>
<p>A free lancer who enjoys developing software.  Whenever I begin a new project it is a personal goal of mine to
  deliver not only a well crafted project but also fully communicate each stage of development with my clients </p>
