<h1>Contact me using one of the following ways:</h1>

<p>Address: #1 Parkway Avenue Miami, FL 33128</p>
<p>Phone Number: <%= number_to_phone "3055581238" %></p>
<p>Email: chrsaguilar@gmail.com</p>
<p>PO Box: 1238</p>


<!--<p><%#= number_to_currency "18950" %></p>-->

<!--<p><%#= number_to_percentage "80.4" %></p>-->

<!--<p><%#= number_with_delimiter "394049548399" %></p>-->
