<div class="inner cover">
  <div class="card card-block home-page-card">
    <h1 class="cover-heading h1-home-page">WELCOME!</h1>
    <p class="lead">Thank You for visiting my site! In here you can navigate to find out more about me. Feel free
      to browse around and check out some Rails Tweets, create an account to share your thoughts and opinions on
      the blog page or even take a look at my portfolios page with projects I've worked on.
    </p>
    <p class="lead">
  </div>
  <p><%= link_to "About me", about_me_path, class: 'btn btn-lg btn-outline-success mt-2' %></p>
</div>

