<div class="inner cover">
  <div class="card card-block home-page-card">
    <h1 class="cover-heading h1-home-page">WELCOME!</h1>
    <p class="lead">
      <span class="element"></span>
    </p>
    <p class="lead">
  </div>
  <p><%= link_to "About me", about_me_path, class: 'btn btn-lg btn-outline-success mt-2' %></p>
</div>

